
<section class="row">
  <div class="col-md-8">

    <%= form_for(@task, :html => {:class => 'form-horizontal'} ) do |f| %>
      <% if @task.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

          <ul>
          <% @task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :project_id, class: "col-sm-4 control-label" %>
        <div class="col-sm-8">
          <%= f.collection_select :project_id, Project.all, :id, :name, {:prompt=>true}, {:class=>'form-control'} %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :task_type_id, class: "col-sm-4 control-label" %>
        <div class="col-sm-8">
          <%= f.collection_select :task_type_id, task_types, :first, :last, {:prompt=>true}, {:class=>'form-control'} %>
        </div>
      </div>
      <%= f.button "Save Task", class: "btn btn-success pull-right" %>
    <% end %>

</section>
