<tr id="task-row-<%= task.id %>" class="<%= "animated fadeInLeft" if first_render %>" >

  <td>
    <%= link_to '', edit_task_path(task) %>
    <h4><%= task_types[task.task_type_id] %></h4>
  </td>

  <td>
    <h4>The <%= task.project.name %> Project</h4>
  </td>

  <td>
    <% if task.completed_at %>
      <h4>Task Completed: <%= task.completed_at.strftime("%A %B #{task.completed_at.day.ordinalize} %Y") %></h4>
    <% else %>
      <%= link_to 'Complete Now', complete_task_path(task), method: :patch, data: { disable_with: 'Completing...' }, remote: true, class: "btn btn-primary" %>
    <% end %>
  </td>

  <td>
    <div class="pull-right">
      <%= link_to 'Delete This Task', task, method: :delete, class: "btn btn-danger" %>
    </div>
  </td>

</tr>