<%= render 'shared/navbar' %>

<section class="row">
  <div class="col-md-10">
    <h1>Here Are Some Tasks</h1>
  </div>
  <div class="col-md-2">
    <%= link_to 'Add A New Task', new_task_path, class: "btn btn-default btn-block" %>
  </div>
</section>

<section class="row">
  <div class="col-md-12">

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Task Name</th>
          <th colspan="3">Project</th>
        </tr>
      </thead>

      <tbody>
        <% @tasks.each do |task| %>
         <%= render partial: 'index_row', locals: { task: task, first_render: false } %>
        <% end %>
      </tbody>
    </table>

  </div>
</section>
