<% if @project.address %>
  <%= form_for(@project.address, :html => {:class => 'form-horizontal'} ) do |f| %>
    <% if @project.address.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(@project.address.errors.count, "error") %> prohibited this task from being saved:</h2>

        <ul>
        <% @project.address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :street, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :street, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :city, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :city, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :province, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :province, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :postal_code, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :postal_code, class: "form-control" %>
      </div>
    </div>



    <%= f.button "Save Changes", class: "btn btn-success" %>
  <% end %>

<% else %>
  <div class="alert alert-warning">
    <strong>Oh dear!</strong> There is no address for this project yet. Select one below!
  </div>
  <table class="table table-hover">
      <thead>
        <tr>
          <th>Add An Address</th>
          <th colspan="2">Street Addy</th>
        </tr>
      </thead>

      <tbody>
        <% @addresses.each do |address| %>
          <tr>
            <td>
              <h4><%= address.street %></h4>
            </td>
            <td>
              <div class="btn-group pull-right">
                <%= link_to 'Use This Address', project_path(project: {address_id: address.id }), method: :put, class: "btn btn-primary" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>