<% if @project.client %>
	<%= form_for(@project.client, :html => {:class => 'form-horizontal'} ) do |f| %>
	  <% if @project.client.errors.any? %>
	    <div id="error_explanation" class="alert alert-danger">
	      <h2><%= pluralize(@project.client.errors.count, "error") %> prohibited this task from being saved:</h2>

	      <ul>
	      <% @project.client.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <div class="form-group">
	    <%= f.label :first_name, class: "col-sm-2 control-label" %>
	    <div class="col-sm-5">
	      <%= f.text_field :first_name, class: "form-control" %>
	    </div>
	  </div>
	  <div class="form-group">
	    <%= f.label :middle_name, class: "col-sm-2 control-label" %>
	    <div class="col-sm-5">
	      <%= f.text_field :middle_name, class: "form-control" %>
	    </div>
	  </div>
	  <div class="form-group">
	    <%= f.label :last_name, class: "col-sm-2 control-label" %>
	    <div class="col-sm-5">
	      <%= f.text_field :last_name, class: "form-control" %>
	    </div>
	  </div>



	  <%= f.button "Save Client Info", class: "btn btn-success" %>
	<% end %>
<% else %>
	<div class="alert alert-warning">
    <strong>No client yet</strong> Add a client to theis project by selecting one below.
  </div>
	<table class="table table-hover">
      <thead>
        <tr>
          <th>Add A Client</th>
          <th colspan="2">Client Name</th>
        </tr>
      </thead>

      <tbody>
        <% @clients.each do |client| %>
          <tr>
            <td>
              <h4><%= client.first_name %></h4>
            </td>
            <td>
              <div class="btn-group pull-right">
                <%= link_to 'Use This Client', project_path(project: {client_id: client.id }), method: :put, class: "btn btn-primary" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>