<%= render 'shared/navbar' %>

<h1>Listing projects</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="2">Name</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Show Task List', {:controller => "projects", :action => "task_list", :id => project.id }, class: "btn btn-primary" %>
            <%= link_to 'Edit This Project', edit_project_path(project), class: "btn btn-info" %>
            <%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path, class: "btn btn-success" %>
