<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @project.address_id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @project.client_id %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
