<%= render 'shared/navbar' %>


<section class="row">
	<div class="col-md-12">
		<h1><%= "#{@tasks.count} #{"Task".pluralize(@tasks.count)}" %> Yet To Be Completed On The <%= @project.name %> Project</h1> 
	</div>
</section>

<section class="row">
	<div class="col-md-12">

		<% @tasks.each do |task| %>
			<div class="card">
				<h3><%= task_types[task.task_type_id] %></h3>
				<%= render "projects/task_type_specific_partials/task_type_#{task.task_type_id}" %>
			</div>
		<% end %>

	</div>
</section>

<section class="row">
	<div class="col-md-12">
			<div class="btn-group pull-right">
				<%= link_to "Go Back To List of Projects", projects_path, class: "btn btn-default" %>
			</div>
	</div>
</section>