/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
	padding-top: 70px;
	background-color: #E5E5E5;
}

.card {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  background: white;
}

.card h3 {
  margin-top: 0px !important;
  margin-bottom: 20px !important;
}