.navbar-default {
	background-color: white;
	border-color: #cccccc;
}

.navbar-brand {
	float: left;
	height: 60px;
	padding: 17px 30px 20px 20px;
	font-size: 25px;
	line-height: 20px;
}

.logo-icon {
	color: #f0ad4e !important;
	padding: 12px 10px 0px 20px;
	font-size: 32px;
}

.bs-docs-header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.bs-docs-nav {
	min-height: 60px;
}

.nav > li > a {
	padding: 10px 25px;
}

.navbar-nav > li > a {
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar-btn {
	margin-top: 13px;
	margin-bottom: 13px;
}