<!DOCTYPE html>
<html>
	<head>
	  <title>Taskmaster</title>

	  <!-- ICONS -->

	  <!-- STYLES -->
	  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

	  <!-- META -->
	  <%= csrf_meta_tags %>

	</head>
	<body>
	
		<div class="container">
			<%= flash_messages %>
			<%= yield %>
		</div>

		<!-- JAVASCRIPTS -->
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	</body>
</html>
